/* Cart.css */
.cartWrap {
  padding:30px 5% 80px;
  box-sizing: border-box;
  min-height: 564px;
}

.noItems {
  text-align: center;
  box-sizing: border-box;
}

.noItems > div {
  border: 1px solid #666;
  box-sizing: border-box;
  padding: 10% 5% 12%;
}

.noItems svg {
  font-size: 30px;
}

.noItems p {
  margin-top: 10px;
}

.deleteAll {
  width: 100%;
  margin: 50px auto 0;
  line-height: 3;
  text-align: center;
  background-color: #024972;
  color: #fff;
  border-radius: 5px;
  transition: all .25s;
}

.deleteAll:hover {
  opacity: .8;
}
